/**********LANDING PAGE**********/

.route-container {
  padding: 0;
}

  .route-form {
    margin: 0;
  }

.home-map {
  width: 100%;
  position: relative !important;
  height: 80vh !important;
}

.possible-routes-wrapper {
  padding: 10px;
}

.route-wrapper {
  padding: 20px 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 0px 31px -5px rgba(79,79,79,0.5);
  -moz-box-shadow: 0px 0px 31px -5px rgba(79,79,79,0.5);
  box-shadow: 0px 0px 31px -5px rgba(79,79,79,0.5);
  cursor: pointer;
}

  .route-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
  }

    .route-time, .route-fare, .route-duration {
      display: flex;
      justify-content: space-between;
    }

    .route-modes {
      padding: 10px 0;
    }

      .route-mode-heading {
        font-weight: bold;
      }

      .route-mode-container {
        padding: 10px 0;
        font-size: 12px;
      }

        .route-step {
          padding: 3px 0;
        }


.eticket-container {
  display:flex;
  justify-content: center;
}

  .eticket-card-container {
    display: flex;
    width: 350px;
    flex-direction: column;
    text-align: center;
  }

    .eticket-heading-container, .eticket-body {
      padding: 10px;
    }

      .eticket-body-meta, .eticket-body-main {
        padding: 10px 0;
      }

        .eticket-id-container, .eticket-date-container,
        .eticket-body-destination-container,
        .eticket-body-source-container,
        .eticket-body-fare-container {
          margin: 5px auto;
          width: 70%;
          display: flex;
          justify-content: space-between;
        }

        .eticket-body-destination-container,
        .eticket-body-source-container,
        .eticket-body-fare-container {
          width: 90%;
        }

        .eticket-body-barcode-container {
          padding: 10px 0;
        }

          .eticket-id, .eticket-date,
          .eticket-body-source, .eticket-body-destination,
          .eticket-body-fare {
            font-weight: bold;
            text-align: right;
          }

          .eticket-body-barcode-message {
            display: flex;
            flex-direction: column;
            font-size: 12px;
          }
